<div id="login-container">
    <div class="row margin-top-170">
        <div class="col-md-3 col-md-offset-5">
            <img id="censeohealth-logo" src="./dist/images/CHLogo.png" alt="CenseoHealth">
        </div>
    </div>
    <div class="row margin-top-40">
        <div class="col-md-5 col-md-offset-4">
            <h2>CenseoHealth is dedicated to your success and the quality of service for each member you visit.</h2>
        </div>
    </div>
    <div class="row margin-top-30">
        <div class="col-md-5 col-md-offset-4" style="font-size: 18px;">
            <h2>If you require assistance, please call us at 877-570-9359 or email mobilehelp@censeohealth.com with any questions, comments or feedback.</h2>
    </div>
    </div>
    <div class="row margin-top-30">
        <div class="col-md-3 col-md-offset-4" style="font-size: 17px;">
            <a ui-sref="app.login">Return to Login</a>
        </div>
    </div>  
</div>

