/*$color-darkBlue: #1A4775;
$color-white: #fff;
$color-off-white: #EEEEEE;
$color-gray: #ccc;
$color-black: #000;
$color-red: red; 
$color-alternate-red: #BD3429; 
$color-yellow: #ffffcb;
$color-dark-orange: #dd9a4a;
$color-success: #5cb85c;*/
$color-light-grey: #d1d1d1;
$color-medium-grey: #919396;
$color-dark-grey: #454545;
$color-blue: #0469b2; 
$color-blue: rgb(4, 105, 178); 
$color-orange: #e9991b;
$color-green: #15bf81;
$color-yellow: #e8bf00;
$color-red: #cd2727;
$color-light-red: #f2dede;
$color-medium-red: #773433;

$color-primary-brand-lightBlue: #A1BFDA;
/*$color-secondary-action: #315B82;
$color-primary-brand-lightBlue: #A1BFDA;
$color-primary-brand-darkBlue: #395a84;
$color-primary-brand-lightOrange: #efa64d;
$color-primary-brand-gray: #676768;

$color-main: #1A4775;
$color-mainHover: #2A6496;
$color-requiredField: #FFFFCB; 
$color-validationError: #D0120D;*/

$color-toastr: #030303;
$color-toastr-success: #51a351;
$color-toastr-error: #bd362f;
$color-toastr-info: #2f96b4;
$color-toastr-warning: #f89406;
