$fontSize-base: 14px;
$fontSize-h1: $fontSize-base + 10px;
$fontSize-h2: $fontSize-base + 4px;
$fontSize-h3: $fontSize-base + 2px;

//$fontStyle-default: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontStyle-default: "Helvetica Neue", SF , Arial, sans-serif;