/* margin offset styles */

@mixin offset-margin($margin, $value) {
    margin-#{$margin}: $value;
}

$i: 5;

@while $i <= 200 {
    @each $margin in top, left {
        .margin-#{$margin}-#{$i} {
            @include offset-margin($margin, 1px * $i)
        }
    }

    $i: $i + 5;
}

.width-340 {
    width: 340px;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20px;
    text-align: center;
}